{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css'%}" type='text/css'>
    <title>
    {% block title %}
        {{page_title|default:'Untitled Page'}}
    {% endblock title %}
    </title>
    {% block styles %}{% endblock styles %}
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <div id="logo"><img src="{% static 'logo.png'%}" alt=""></div>
            <div id="top_menu">Home | Calendar | About | <a href="/contact">Contact Us</a> | 
            {% if user.is_authenticated %}
                Hello, {{user.username}}
                <a href="{% url 'logout'%}?next=/">Log out</a>
            {% else %}
                Not Logged in?
                <a href="{% url 'login'%}?next=/">Login</a>
            {% endif %}
                </div>
            <div id="topbanner"><img src="{% static 'top_banner.jpg'%}" alt=""></div>
        </header>
        {% if user.is_authenticated %}
        <aside id="rightsidebar">
            <nav id="nav">
                <ul>
                    <li>
                        <a href="/add_venue">Add your Venue</a>
                    </li>
                    <li><a href="/events">Manage Events</a></li>
                    <li>My Profile</li>
                </ul>
            </nav>
        </aside>
        {% endif %}
        
        <section id="main">
            {% block content %}
                <p>Placeholder text in base template. Replace with page content.</p>
                
            {% endblock content %}
        </section>
        <footer id="footer">Copyright &copy;
            <script type="text/Javascript">
                document.write(new Date().getFullYear());
            </script> MyClub
        </footer>
    </div>
</body>
</html>